In [2]:
import nba_api.stats.endpoints as nba

In [11]:
from nba_api.stats.static import teams
teams = teams.get_teams()

In [10]:
from nba_api.stats.endpoints import commonteamroster

rosters = {}
for team in teams:
    rosters[team['abbreviation']] = []
    print(team['full_name'])
    for year in range(2000, 2023):
         rosters.get(team['abbreviation']).append({year: commonteamroster.CommonTeamRoster(team_id=team['id'], season=str(year)).get_data_frames()[0]})
         print(year)

NameError: name 'teams' is not defined

In [ ]:
rosters['ATL'][5][2005].head(10)

       TeamID SEASON LeagueID  ...                 SCHOOL PLAYER_ID HOW_ACQUIRED
0  1610612737   2005       00  ...               Stanford      2735         None
1  1610612737   2005       00  ...               Arkansas      2207         None
2  1610612737   2005       00  ...    St. Patrick HS (NJ)      1733         None
3  1610612737   2005       00  ...  Oak Hill Academy (VA)      2746         None
4  1610612737   2005       00  ...               Nebraska      1731         None
5  1610612737   2005       00  ...              Trouville    101212         None
6  1610612737   2005       00  ...  Southeastern Illinois      2764         None
7  1610612737   2005       00  ...   North Carolina State    101219         None
8  1610612737   2005       00  ...                Arizona    101136         None
9  1610612737   2005       00  ...         North Carolina    101107         None

[10 rows x 16 columns]

In [ ]:
from nba_api.stats.endpoints import playercareerstats, tea
career = playercareerstats.PlayerCareerStats(player_id='203999')
df = career.get_data_frames()[0]
df.head(10)

   PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID  ... BLK  TOV   PF   PTS
0     203999   2015-16        00  1610612743  ...  50  104  208   796
1     203999   2016-17        00  1610612743  ...  55  171  214  1221
2     203999   2017-18        00  1610612743  ...  61  210  212  1385
3     203999   2018-19        00  1610612743  ...  55  248  228  1604
4     203999   2019-20        00  1610612743  ...  44  226  222  1456
5     203999   2020-21        00  1610612743  ...  48  222  192  1898
6     203999   2021-22        00  1610612743  ...  63  281  191  2004
7     203999   2022-23        00  1610612743  ...  47  247  174  1690
8     203999   2023-24        00  1610612743  ...  20   66   62   653

[9 rows x 27 columns]

In [ ]:
player_avgs = {}

In [ ]:
def get_avgs(team):
    player_stats = {}
    player_avgs[team] = {}
    years = rosters.get(team)
    for year in years:
        year_str = list(year.keys())[0]
        season = f'{year_str}-{str(year_str+1)[-2:]}'
        player_avgs.get(team)[year_str] = []
        players = list(year.values())[0]
        for index in players.index:
            player_id = players.at[index, 'PLAYER_ID']
            if player_id in player_stats.keys():
                career = player_stats.get(player_id)
            else:
                career = playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[0]
                player_stats[player_id] = career
            player_avgs.get(team).get(year_str).append(career[career['SEASON_ID'] == season])
        print(season)
    print(team)

In [ ]:
rosters.keys()

dict_keys(['ATL', 'BOS', 'CLE', 'NOP', 'CHI', 'DAL', 'DEN', 'GSW', 'HOU', 'LAC', 'LAL', 'MIA', 'MIL', 'MIN', 'BKN', 'NYK', 'ORL', 'IND', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'OKC', 'TOR', 'UTA', 'MEM', 'WAS', 'DET', 'CHA'])

In [ ]:
get_avgs('ATL')

2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
ATL

In [ ]:
for team in list(rosters.keys())[1:5]:
    get_avgs(team)

2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
BOS
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
CLE
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
NOP
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
CHI

In [ ]:
import pandas as pd
for team in player_avgs.keys():
    for year in player_avgs[team].keys():
        player_dfs = player_avgs[team][year]
        df = pd.DataFrame()
        for player in player_dfs:
            df = pd.concat([df, player])
        df.to_csv(f'Teams/{team}_{year}.csv')

In [ ]:
player_avgs = {}

def save_stats(team):
    for year in player_avgs[team].keys():
        player_dfs = player_avgs[team][year]
        df = pd.DataFrame()
        for player in player_dfs:
            df = pd.concat([df, player])
        df.to_csv(f'Teams/{team}/{team}_{year}.csv')
    print(f'{team} Saved')


for team in list(rosters.keys())[5:10]:
    get_avgs(team)
    save_stats(team)

2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
DAL
DAL Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
DEN
DEN Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
GSW
GSW Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
HOU
HOU Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
LAC
LAC Saved

In [ ]:
player_avgs = {}
for team in list(rosters.keys())[11:30]:
    get_avgs(team)
    save_stats(team)

2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
MIA
MIA Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
MIL
MIL Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
MIN
MIN Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
BKN
BKN Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
NYK
NYK Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
ORL
ORL Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
IND
IND Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
PHI
PHI Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
PHX
PHX Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
POR
POR Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
SAC
SAC Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
SAS
SAS Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
OKC
OKC Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
TOR
TOR Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
UTA
UTA Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
MEM
MEM Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
WAS
WAS Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
DET
DET Saved
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22
2022-23
CHA
CHA Saved

In [7]:
import os
import shutil

# Path to the directory with files
directory = 'Teams'

# Loop through all files in the directory
for filename in os.listdir(directory):
    if os.path.isfile(os.path.join(directory, filename)):
        # Get the first letter of the file name
        team = filename[:3]

        # Create a new directory path
        new_directory = os.path.join(directory, team)

        # Create a new directory if it doesn't exist
        if not os.path.exists(new_directory):
            os.makedirs(new_directory)

        # Move the file to the new directory
        shutil.move(os.path.join(directory, filename), os.path.join(new_directory, filename))

In [8]:
all_teams = list(rosters.keys())

NameError: name 'rosters' is not defined

In [9]:
all_teams

NameError: name 'all_teams' is not defined

In [5]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd

# Create an instance of LeagueGameFinder
game_finder = leaguegamefinder.LeagueGameFinder(season_nullable='2023-24')

# Get the DataFrame containing all games
games = game_finder.get_data_frames()[0]

# We use drop_duplicates to ensure we only have distinct games by GAME_ID
distinct_games = games.drop_duplicates(subset=['GAME_ID'])

# Print or inspect the distinct games

In [15]:
all_teams = [team['full_name'] for team in teams]

In [18]:
distinct_games[distinct_games['TEAM_NAME'].isin(all_teams)]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2,22023,1610612766,CHA,Charlotte Hornets,0022301187,2024-04-14,CHA @ CLE,W,241,120,...,0.818,10,37,47,36,10,9,9,11,10.0
3,22023,1610612749,MIL,Milwaukee Bucks,0022301191,2024-04-14,MIL @ ORL,L,238,88,...,0.913,7,27,34,16,10,4,17,18,-25.0
4,22023,1610612744,GSW,Golden State Warriors,0022301198,2024-04-14,GSW vs. UTA,W,239,123,...,0.826,12,30,42,35,10,6,9,14,7.0
7,22023,1610612747,LAL,Los Angeles Lakers,0022301195,2024-04-14,LAL @ NOP,W,241,124,...,0.944,7,32,39,32,12,3,14,13,16.0
8,22023,1610612743,DEN,Denver Nuggets,0022301193,2024-04-14,DEN @ MEM,W,239,126,...,0.846,16,38,54,32,9,5,17,17,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4190,12023,1610612749,MIL,Milwaukee Bucks,0012300004,2023-10-08,MIL vs. CHI,W,239,105,...,0.813,7,39,46,28,8,8,17,13,3.0
4191,12023,1610612761,TOR,Toronto Raptors,0012300008,2023-10-08,TOR vs. SAC,W,241,112,...,0.750,8,40,48,30,13,2,29,29,13.0
4197,12023,1610612742,DAL,Dallas Mavericks,0012300002,2023-10-07,DAL vs. MIN,L,241,96,...,0.706,15,36,51,19,8,6,20,15,-8.0
4198,12023,1610612744,GSW,Golden State Warriors,0012300003,2023-10-07,GSW vs. LAL,W,241,125,...,0.640,11,50,61,27,11,8,19,20,14.2
4201,12023,1610612750,MIN,Minnesota Timberwolves,0012300001,2023-10-05,MIN vs. DAL,W,239,111,...,0.727,11,45,56,28,7,12,16,20,12.0